@import './Variables.scss';

// ------------------------------ //

.card__link {
    text-decoration: none;
    display: contents;
    color: $colorPrimary;
}



.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;

    &:hover {
        cursor: pointer;

        .card__image {
            box-shadow: 0 20px 15px -2px #ccc;
        }

        .card__text-content {
            h3 {
                color: $colorAccent;
            }
        }
    }

    @media screen and (min-width: 768px) {
        width: 100%;
    }

    @media screen and (min-width: 1366px) {
        justify-content: center;
    }
}

.card--small {
    justify-content: start;

    @media screen and (min-width: 1366px) {
        justify-content: center;
    }
}



.card__image {
    width: 100%;
    height: 50%;
    border-radius: 4px;
    overflow: hidden;
    transition: all 0.4s ease;

    @media screen and (min-width: 1366px) {
        height: 60%;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.card__image--small {
    height: 50%;

    @media screen and (min-width: 1366px) {
        height: 45%;
    }
}



.card__text-content {
    text-align: left;
    padding: 1rem;
    padding-left: 0.5rem;

    @media screen and (min-width: 1366px) {
        padding: 1rem 0 0 2rem;
    }

    h3 {
        margin-top: 0;
        display: flex;
        align-items: center;
        transition: all 0.4s ease;
        font-weight: $fontBold;

        span {
            font-size: 1rem;
            margin-left: 0.2rem;
        }
    }
}



.card__text-content__buttons {
    display: flex;
    justify-content: space-between;

    @media screen and (min-width: 768px) {
        justify-content: start;
    }

    @media screen and (min-width: 1366px) {
        justify-content: space-between;
        padding: 1rem 0 0 2rem;
    }

    h1 {
        font-weight: $fontBold;
        margin-top: 0;
    }

    img {
        width: 8.5rem;

        &:first-child {
            margin-right: 0;

            @media screen and (min-width: 768px) {
                margin-right: 1rem;
            }
        }

        @media screen and (min-width: 768px) {
            width: 7rem;
        }

        @media screen and (min-width: 1366px) {
            width: 9rem;
        }
    }
}