@import './Variables.scss';


.card-list-container {
    display: block;
    margin: 1rem;
    padding: 1rem 0;
    color: $colorPrimary;

    @media screen and (min-width: 768px) {
        margin: 0;
        padding: 2rem 0;
    }

    @media screen and (min-width: 1366px) {
        padding: 3rem 0;

    }
}



.card-list-container__title {
    text-align: left;
    font-size: 1.4rem;
    margin-bottom: 2rem;

    @media screen and (min-width: 768px) {
        font-size: 1.7rem;
        margin-bottom: 2rem;
    }

    @media screen and (min-width: 1366px) {
        font-size: 2.2rem;
    }
}



.card-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;

    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 30rem);
        grid-row-gap: 2rem;
        grid-column-gap: 2rem;
    }

    @media screen and (min-width: 1366px) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 37rem);
        grid-column-gap: 3rem;
        grid-row-gap: 2rem;

    }

    @media screen and (min-width: 1440px) {
        grid-template-rows: repeat(2, 40rem);
        grid-column-gap: 4rem;
    }
}