@import './variables.scss';


.pre-footer {
    background-color: $colorPrimary;
    padding: 1rem 1rem;

    @media screen and (min-width: 768px) {
        padding: 0 2rem;
    }
}



.container__links {
    display: grid;
    grid-template-rows: repeat(6, auto);
    grid-row-gap: 2rem;
    padding: 4rem 0;

    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
    }

    @media screen and (min-width: 1366px) {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-row-gap: 0;
    }
}


.container__links__list {
    display: flex;
    flex-direction: column;
    text-align: left;

    a {
        color: $colorWhite;
        font-weight: $fontLight;
        padding: 0.2rem 0;
        text-transform: uppercase;
        font-size: 0.8rem;

        &:first-child {
            font-weight: $fontBold;
        }
    }
}



.pre-footer__container-socials {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        align-items: center;
    }
}



.container-socials__nav-appstore {
    img {
        width: 6rem;
        margin-right: 0.5rem;

        @media screen and (min-width: 768px) {
            width: 5rem;
        }

        @media screen and (min-width: 1366px) {
            width: 8rem;
        }
    }
}


.container-socials__nav-socials {
    img {
        width: 1.5rem;
        margin-left: 1rem;
        margin: 1rem;

        @media screen and (min-width: 1366px) {
            width: 1.5rem;
        }
    }
}