@import './variables.scss';

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $colorPrimary;
    padding: 0 1rem;

    @media screen and (min-width: 768px) {
        padding: 0 2rem;
    }

    a {
        color: $colorWhite;
        font-weight: $fontSemi;
    }
}



.topbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}


.menu-left__logo {
    img {
        width: 9rem;
        padding: 0.5rem;
    }
}



.topbar__container__menu-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 75vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    padding-left: 1rem;
    z-index: 1;
    background-color: $colorPrimary;
    transition: all 0.6s ease;
    transform: translateX(100%);
    overflow-y: scroll;

    @media screen and (min-width: 768px) {
        width: 40vw;
    }

    @media screen and (min-width: 1366px) {
        position: relative;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 5rem;
        padding-left: 0;
        background-color: transparent;
        transform: translateX(0%);
    }
}

.topbar__container__menu-center--menu-visible {
    transform: translateX(0%);
}



.menu-center__list-right,
.menu-center__list-left {
    display: flex;
    flex-direction: column;
    height: auto;
    font-size: 0.8rem;

    @media screen and (min-width: 1366px) {
        flex-direction: row;
        height: 100%;
        font-size: 0.9rem;
    }

    a {
        padding: 0 1rem;
        display: flex;
        align-items: center;
        height: 4rem;

        @media screen and (min-width: 1366px) {

            flex-direction: row;
            height: 100%;
        }
    }
}


.menu-center__list-left {
    width: 100%;

    @media screen and (min-width: 1366px) {
        width: 55%;
        height: auto;
    }
}


.menu-center__list-right {
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    text-align: left;

    @media screen and (min-width: 1366px) {
        width: 25%;
        align-items: center;
    }

    a {
        width: 45%;
        border: none;

        @media screen and (min-width: 1366px) {
            border-left: 0.5px solid $colorWhite;
            border-right: 0.5px solid $colorWhite;
        }

        &:first-child {
            @media screen and (min-width: 1366px) {
                border-right: none;
            }
        }
    }
}



.menu-right__list {
    display: flex;

    span {
        color: $colorWhite;
        padding: 0.5rem;
        font-size: 1.8rem;

        @media screen and (min-width: 1366px) {
            padding: 1rem;
        }
    }
}

.js-btn-search {
    z-index: 0;
}

.js-btn-menu {
    z-index: 3;
    display: block;

    @media screen and (min-width: 1366px) {
        display: none;
    }
}