// COLOR COMBINATIONS
$colorPrimary: #011352;
$colorPrimaryDark: #0b0f4d;
$colorAccent: #35bdd1;
$colorWhite: #ffffff;

// FONT WEIGHTS
$fontExtraLight: 200;
$fontLight: 300;
$fontRegular: 400;
$fontSemi: 600;
$fontBold: 700;

$fontLato: 'Nunito',
sans-serif;