* {
  box-sizing: border-box;
}



html {
  scroll-behavior: smooth;
}



body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}



h3 {
  font-size: 0.8rem;

  @media screen and (min-width: 768px) {
    font-size: 0.9rem;
  }

  @media screen and (min-width: 1366px) {
    font-size: 1rem;
  }

  @media screen and (min-width: 1440px) {
    font-size: 1.2rem;
  }
}

p {
  font-size: 0.8rem;

  @media screen and (min-width: 768px) {
    font-size: 0.9rem;
  }

  @media screen and (min-width: 1366px) {
    font-size: 1rem;
  }

  @media screen and (min-width: 1440px) {
    font-size: 1.2rem;
  }
}