@import '../src/sass/Variables.scss';

* {
  box-sizing: border-box;
}



html {
  scroll-behavior: smooth;
}



body {
  font-family: $fontLato;
  margin: 0;
  padding: 0;
}


h3 {
  font-weight: $fontSemi;
  font-size: 0.8rem;

  @media screen and (min-width: 768px) {
    font-size: 0.9rem;
  }

  @media screen and (min-width: 1366px) {
    font-size: 1rem;
  }
}

h3 {
  font-weight: $fontSemi;
  font-size: 0.8rem;

  @media screen and (min-width: 768px) {
    font-size: 0.9rem;
  }

  @media screen and (min-width: 1366px) {
    font-size: 1rem;
  }
}

p {
  font-size: 0.8rem;

  @media screen and (min-width: 768px) {
    font-size: 0.9rem;
  }

  @media screen and (min-width: 1366px) {
    font-size: 1rem;
  }
}


a {
  text-decoration: none;
}


ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}